/*
 * Copyright 2015-2016 Adrien Navratil
 *
 * This file is part of S-Update-Server.
 *
 * S-Update-Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * S-Update-Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with S-Update-Server.  If not, see <http://www.gnu.org/licenses/>.
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300');

@font-face
{
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}

#content
{
    width: 96%;
    margin-left: 2%;

    text-align: center;
}

#steps
{
    border-top: solid 1px white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

button
{
    background: rgba(0, 0, 0, 0);

    &:hover
    {
        background: rgba(255, 255, 255, 0.05);
    }

    height: 50px;
    width: 150px;
}

button, span, h1
{
    font-family: "Segoe UI", "Lato", "Arial", "sans-serif";
    font-size: 25px;
}

span
{
    margin-left: calc(50% - 150px);
}

h1
{
    font-size: 125px;
    margin-top: calc(50vh - 125px);
}