{#
 # Copyright 2015 TheShark34
 #
 # This file is part of S-Update-Server.
 #
 # S-Update-Server is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # S-Update-Server is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with S-Update-Server.  If not, see <http://www.gnu.org/licenses/>.
 #}

{#
 # Panel settings page
 #
 # v3-(Panel-1.1.0-BETA)
 #}

{% extends 'templates/base.twig' %}

{% block title %}Settings{% endblock %}

{% block head %}
    <!-- Settings CSS -->
    <link href="{{ resPath ~ "css/settings.css" }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <style>
        html, body {
            background-image: url({{ resPath ~ "images/background.png" }});
        }
    </style>

    <div id="mainDiv">
        <img src="{{ resPath ~ 'images/logo.png' }}" />
        <br />
        <br />
        <button id="home" style="margin-right: 30px;" onclick="window.location.href='home';">Cancel</button>
        <br />
        <br />

        <form method="post" target="" id="passwordForm">
            <input id="form" name="form" value="passwordForm" style="display: none;" />

            <h1>Change Password</h1>
            <br />
            <br />

            <label for="password">Password</label> : <input class="text-field" type="password" name="password" id="password" onkeyup="checkFields(); return false;" required/><br />
            <label for="vpassword">Valid Password</label> : <input class="text-field" type="vpassword" name="vpassword" id="vpassword" onkeyup="checkFields(); return false;" required/><br /><br />
        </form>

        <button class="submit-button" onclick="checkAndSubmit()">Change</button>
    </div>
{% endblock %}

{% block scripts %}
    <!-- The FieldChecker JS -->
    <script src="{{ resPath ~ 'js/fieldChecker.js' }}"></script>
{% endblock %}
